<div class="task-details">
  <div class="task-details__title title">
    <div class="title__name">{{ isUpdate ? 'Обноваление' : 'Создание задачи'}}</div>
  </div>
  <form>
    <div class="form-group">
      <mat-form-field class="task-details-field">
        <input matInput placeholder="Название" [(ngModel)]="task.name" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>
    </div>
    <div class="form-group" *ngFor="let item of taskFields | keyvalue">
      <mat-form-field class="task-details-field" *ngIf="item.key.type == CustomFieldType.textField">
        <mat-label>{{item.key.name}}</mat-label>
        <input matInput type="text" placeholder="{{ item.key.name }}" [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="task-details-field" *ngIf="item.key.type == CustomFieldType.dropDown">
        <mat-label>{{item.key.name}}</mat-label>
        <mat-select [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let option of item.key.fieldOptions" [value]="option.customValue">
            {{option.customValue}}
          </mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  
</div>
