<section class="login">
  <form action="" method="POST" class="login-form">
      <img src="../../assets/logo.PNG" alt="logo" class="logo">
      <input  [(ngModel)]="email" type="email" id="login-form-email" name="e-mail" class="login-form__email"
        placeholder="Электронная почта">
      <input [(ngModel)] = "password" type="password" id="login-form-password" name="password" class="login-form__pasword" placeholder="Пароль">
      <button (click) = "login()" type="submit" class="login-form__enter-button" name="login-button" >Войти</button>
  </form>
  <p class="login__forget-link"><a href="#">Забыли пароль?</a></p>
</section>
