<section class="login">
  <h2 class="visually-hidden">Вход</h2>
  <form action="" method="POST" class="login__form">
    <fieldset>
      <legend class="visually-hidden">Вход</legend>
      <img src="../../assets/logo.PNG" alt="logo" class="logo">
      <label for="login-form-email" class="visually-hidden">e-mail</label>
      <input type="email" id="login-form-email" name="e-mail" class="login__form__email" placeholder="Электронная почта">
      <label for="login-form-password" class="visually-hidden">Пароль</label>
      <input type="password" id="login-form-password" name="password" placeholder="Пароль">
      <input type="submit" class="button enter-button" name="login-button" value="Войти">
    </fieldset>
  </form>
  <p class="login__form__link"><a href="#">Забыли пароль?</a></p>
</section>
