<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lanit Time Manager</title>
  
</head>
<header>
  <img src="#" alt="Logo">
  <p>TIME MANAGER</p>
  <p>Hi demouser!</p>
  <a href="#"><img src = "#" alt="icon"></a>
</header>
<body>
  <div class="section_menu">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">TimeSheet</a></li>
      <li><a href="#">Leaves</a></li>
    </ul>
  </div>
  <div class="section_TimeSheet">
    <p class="timesheet"><b>TimeSheet</b><br></p>
    <p><b>From Data</b></p>
    <input class="input_button" type="text" size="20">
  <ul>
        <li ><a class="save" href="#">Save Details</a></li>
        <li ><a class ="cansel" href="#">Cansel</a></li>
      </ul> 
  </div> 
</body>
</html>

<!--<input type="text" size="40"> -->
