<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lanit Time Manager</title>
</head>
<header> 
</header>
<section>
  <div class="container">
    <ul>
      <li>
        <a href="#"><img class="icon" src="/assets/icon.png" alt="icon"> </a>
        <ul>
          <li><a href="#">Edit</a></li>
          <li><a href="#">Exit</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<body>
  <div class="header">
    <!--<div class="box"><img src="/assets/Lanit_logo.svg" /></div>-->

    <p>TIME MANAGER</p>
    <p>Hi demouser!</p>
  </div>
  <div class="section-menu">
    <ul>
      <li><a href="#">TimeSheet</a></li>
      <li><a href="#">Leaves</a></li>
    </ul>
  </div>
  <div class="section-TimeSheet">
    <p class="timesheet"><b>TimeSheet</b><br></p>
    <p><b>From Data</b></p>
    <ul class="dates">
      <li><a href="#"><img src="/assets/arrow_left.png"></a></li>
      <li><input class="input_button" type="date" value="0000-00-00" size="20"></li>
      <li><input class="input_button" type="date" value="0000-00-00" size="20"></li>
      <li><a href="#"><img src="/assets/arrow_right.png"></a></li>
    </ul>


    <ul>
      <li><a class="save" href="#">Save Details</a></li>
      <li><a class="cancel" href="#">Edit</a></li>
    </ul>
    <ul class="table-header">
      <li><p>Project name</p></li>
      <li><p>Mon</p></li>
      <li><p>Tue</p></li>
      <li><p>Wed</p></li>
      <li><p>Thu</p></li>
      <li><p>Fri</p></li>
      <li><p>Sat</p></li>
      <li><p>Sun</p></li>
      <li><p>Total<br>hours</p></li>
      <li><p>     </p></li>
    </ul>
    <ul class="projects">
      <li>
        <select name="project">
          <option value="none">--Select--</option>
          <option value="alpha">Project Alpha</option>
          <option value="omega">Project Omega</option>
        </select>
      </li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><a href="#">Edit</a></li>
    </ul>
    <ul class="projects">
      <li>
        <select name="project">
          <option value="none">--Select--</option>
          <option value="alpha">Project Alpha</option>
          <option value="omega">Project Omega</option>
        </select>
      </li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><input type="text" size="7"></li>
      <li><a href="#">Edit</a></li>
    </ul>
  </div> 
</body>
</html>


