/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');
@import "~material-design-icons/iconfont/material-icons.css";
@import "material-theme";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 22px;
  color: #000000;
  //font-weight: bold;

  //background-color: #E5E5E5;;
}

p {
  padding: 0px;
  margin: 0 auto;
}
