<div class="manager-projects">
  <div class="manager-projects__title title">
    <div class="title__name">Список проектов</div>
    <button mat-raised-button type="submit" class="manager-projects__add" (click)="openDialogAddProj()">Создать проект</button>
    <span class="manager-projects__flex-space"></span>
    <button mat-raised-button type="submit" class="manager-projects__download" (click)="getMonthlyReport()">Выгрузка месячного отчета</button>
  </div>

  <table mat-table [dataSource]="manProject" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="project-link" routerLink='/user/em_table' [routerLinkActive]="'active'">
          Project {{element.name}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="buttonDelete" (click)="deleteProject(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
