.manager-projects {
  padding: 40px 20px 20px 60px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    height: 400px;

    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    background: rgb(248, 248, 248);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  }

  &__add {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      padding-right: 10px;
      background: url("../../assets/plus.svg") left center no-repeat;
      background-size: contain;
    }
  }

  &__download {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      padding-left: 10px;
      background: url("../../assets/download.svg") left center no-repeat;
      background-size: contain;
    }
  }

  &__flex-space {
    flex: 1 1 auto;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;  
  }
}

.mat-elevation-z8 {
  width: 100%;
}

.buttonDelete {
  background: black;
}

.title {
  &__name {
    font-size: 20px;
    font-weight: 500;
    padding-right: 40px;
  }
}
