<div class="manager-projects">
  <div class="manager-projects__title title">
    <div class="title__name">Список проектов</div>
    <button mat-raised-button type="submit" class="manager-projects__add" (click)="openDialogAddProj()">Создать проект
    </button>
    <span class="manager-projects__flex-space"></span>
    <div class="manager-projects__export export">
      <mat-form-field class="export__date">
        <input matInput [matDatepicker]="datePicker" placeholder="Report date" [formControl]="reportDateFC">
        <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker id="datePicker" #datePicker startView="year"
                        (monthSelected)="datePickerClose($event)"></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button type="submit" class="export__download" (click)="getMonthlyReport()">Выгрузка
        месячного отчета
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="manProject" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button class="project-link" routerLink='/user/em_table' [routerLinkActive]="'active'">
          Project {{element.name}}</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Удаление</th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab class="buttonDelete" (click)="deleteProject(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
