$background-color: #f8f8f8;

ul {
  list-style: none;
}

.admin-projects {
  float: left;
  width: 950px;
  height: 100%;
  margin-left: 330px;
  position: absolute;
  align-self: flex-start;

  table {
    border-collapse: collapse;
    border: 2px solid $background-color;
    margin-left: 80px;

    tr {

      td, th {
        border: 2px solid $background-color;
        padding: 15px;
      }
    }
  }

  .checkboxes {
    width: 50px;

    .main-check {
      position: absolute;
      float: left;
      margin-top: 20px;
    }

    .check {
      position: absolute;
      float: left;
      margin-top: 50px;

      li {
        margin-top: 25px;
      }
    }
  }
}
