$background-color: #f8f8f8;

.admin-projects {
  margin-top: 30px;
  float: left;
  width: 950px;
  height: 100%;
  margin-left: 330px;
  position: absolute;
  align-self: flex-start;

  table {
    border-collapse: collapse;
    border: 2px solid $background-color;
    margin-left: 80px;
    margin-top: 50px;
    width: 80%;

    tr {

      td, th {
        border: 2px solid $background-color;
        padding: 15px;
      }
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}
