
<div class="section-timesheet">
  <p class="timesheet"><b>TimeSheet</b><br></p>
  <ul class="dates">
    <li><a href="#"><img src="/assets/arrow_left.png"></a></li>
    <li><input class="input_button" type="week" value="0000-00-00" size="20"></li>
    <!--<li><input class="input_button" type="week" value="0000-00-00" size="20"></li>-->
    <li><a href="#"><img src="/assets/arrow_right.png"></a></li>
  </ul>

  <ul class="table-header">
    <li>
      <p>Project name</p>
    </li>
    <li class="days" *ngFor="let day of days">{{day}}</li>
    <li>
      <p>Total<br>hours</p>
    </li>
  </ul>
  <ul class="projects">
    <li>
      <select name="project">
        <option value="none">--Select--</option>
        <option value="alpha">Project Alpha</option>
        <option value="omega">Project Omega</option>
      </select>
    </li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <!--     <li><a href="#">Edit</a></li> -->
  </ul>
  <ul class="projects">
    <li>
      <select name="project">
        <option value="none">--Select--</option>
        <option value="alpha">Project Alpha</option>
        <option value="omega">Project Omega</option>
      </select>
    </li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
  </ul>
  <ul>
    <li><a class="save" href="#">Save Details</a></li>
    <li><a class="cancel" href="#">Edit</a></li>
  </ul>
</div>
