<section>
  <form class="task" [formGroup]="taskForm">

    <mat-form-field class="task__name">
      <mat-label>Название проекта</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let project of projects" [value]="project.name">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="task__weekpicker">

      <button mat-icon-button aria-label="Previous week" (click)="previousWeek()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <!-- <input type="date" [value]="currentDate" formControlName="currentWeek"> -->
      <mat-form-field>
        <input matInput [matDatepicker]="currentWeek" placeholder="week" formControlName="currentWeek"
          (dateChange)="getWeek()">
        <mat-datepicker-toggle [for]="currentWeek" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #currentWeek></mat-datepicker>
      </mat-form-field>
      <!--       <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

      <button mat-icon-button aria-label="Next week" (click)="nextWeek()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

    </div>

    <div class="task__days">

      <div class="task__days__naming">
        <p>Дата</p>
        <p>День недели</p>
        <p>Часы</p>
      </div>


      <div *ngFor="let day of week" class="task__days__day">

        <p class="task__days__day__date">{{day.date}}</p>
        <div class="task__days__day__container">
          <p class="task__days__day__container__weekday"> {{day.weekday}} </p>

          <mat-form-field class="task__days__day__container__hours">
            <input matInput placeholder="" value="">
          </mat-form-field>
        </div>

      </div>



      <div class="task__days__total">

        <p>Всего часов</p>

        <mat-form-field>
          <input matInput placeholder="" value="" formControlName="total">
        </mat-form-field>

      </div>

    </div>


    <div>
      <button mat-flat-button (click)="clear()">Сбросить</button>
      <button mat-flat-button color="primary" (click)="save()">Сохранить</button>
    </div>
    <button mat-flat-button color="primary">Изменить</button>

  </form>
</section>
