<!-- <div class="section-timesheet">
  <p class="timesheet"><b>TimeSheet</b><br></p>
  <ul class="dates">
    <li><a href="#"><img src="/assets/arrow_left.png"></a></li>
    <li><input class="input_button" type="week" value="0000-00-00" size="20"></li>
    <li><a href="#"><img src="/assets/arrow_right.png"></a></li>
  </ul>

  <ul class="table-header">
    <li>
      <p>Project name</p>
    </li>
    <li class="days" *ngFor="let day of days">{{day}}</li>
    <li>
      <p>Total<br>hours</p>
    </li>
  </ul>
  <ul class="projects">
    <li>
      <select name="project">
        <option value="none">--Select--</option>
        <option value="alpha">Project Alpha</option>
        <option value="omega">Project Omega</option>
      </select>
    </li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
  </ul>
  <ul class="projects">
    <li>
      <select name="project">
        <option value="none">--Select--</option>
        <option value="alpha">Project Alpha</option>
        <option value="omega">Project Omega</option>
      </select>
    </li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
    <li><input type="text" size="7"></li>
  </ul>
  <ul>
    <li><a class="save" href="#">Save Details</a></li>
    <li><a class="cancel" href="#">Edit</a></li>
  </ul>
</div> -->
<section>
  <form>
    <mat-form-field>
      <mat-label>Название проекта</mat-label>
      <mat-select>
        <mat-option *ngFor="let project of projects" [value]="project.value">
          {{project.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!--FIXME: сделать week-picker-->
    <mat-form-field>
      <input matInput [matDatepicker]="week" placeholder="Choose a week">
      <mat-datepicker-toggle matSuffix [for]="week"></mat-datepicker-toggle>
      <mat-datepicker #week></mat-datepicker>
    </mat-form-field>
    <button mat-icon-button aria-label="Previous week">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button aria-label="Next week">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
<!-- 
    <table mat-table>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Пн</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Вт</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Ср</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Чт</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Пт</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Сб</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Вс</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
      <ng-container>
        <th mat-header-cell *matHeaderCellDef>Всего</th>
        <td mat-cell *matCellDef="let element">{{element}}</td>
      </ng-container>
    </table> -->
  </form>
</section>
