<header>
  <div class="box">
    <a routerLink='/user/timesheet'><img src="/assets/logo.svg" /></a>
  </div>
  <div class="texts">
    <ul>
      <li>
        <p>TIME MANAGER</p>
      </li>
      <li>
        <p>Hi {user.name}! {user.role}</p>
      </li>
    </ul>
  </div>
</header>
<section>
  <div class="container">
    <ul>
      <li>
        <a href="#"><img class="icon" src="/assets/icon.png" alt="icon"> </a>
        <ul>
          <li><a href="#">Edit</a></li> <!-- TODO: создать пути-->
          <li><a routerLink="">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</section> 
