<section>
  <a class="return" routerLink='/user/timesheet'>
    <i class="material-icons"> keyboard_backspace </i>
    К списку
  </a>
  <form class="task" [formGroup]="taskForm">

    <mat-form-field class="task__name">
      <mat-label>Название проекта</mat-label>
      <mat-select formControlName="project" (selectionChange)="getTasks()">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{project.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="task__weekpicker">

      <button mat-icon-button aria-label="Previous week" (click)="previousWeek()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <!-- FIXME: неделя должна начинаться с пн, а не с вс -->
      <!-- FIXME: отображать как выбор недели, а не дня-->
      <mat-form-field>
        <input matInput [matDatepicker]="currentWeek" placeholder="week" formControlName="currentWeek"
               (dateChange)="setWeek()">
        <mat-datepicker-toggle [for]="currentWeek" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #currentWeek></mat-datepicker>
      </mat-form-field>

      <button mat-icon-button aria-label="Next week" (click)="nextWeek()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

    </div>

    <div class="task__days days">

      <div class="days__title title">
        <p class="title__string">Дата</p>
        <p class="title__string">День недели</p>
        <p class="title__string">Часы</p>
      </div>


      <div class="days__day day">

        <p class="day__date">{{week[0].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[0].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day0">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[1].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[1].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day1">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[2].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[2].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day2">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[3].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[3].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day3">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[4].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[4].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day4">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[5].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[5].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day5">
          </mat-form-field>

        </div>

      </div>
      <div class="days__day day">

        <p class="day__date">{{week[6].date.slice(8, 10)}}</p>

        <div class="day__container container">

          <p class="container__weekday"> {{week[6].weekday}} </p>

          <mat-form-field class="container__hours">
            <input matInput placeholder="" formControlName="day6">
          </mat-form-field>

        </div>

      </div>

      <div class="days__total total">

        <p class="total__text">Всего часов</p>

        <mat-form-field class="total__input">
          <input matInput placeholder="" formControlName="total">
        </mat-form-field>

      </div>

    </div>


    <div class="task__buttons buttons">
      <button mat-flat-button class="buttons__clear" (click)="clear()">Очистить</button>
      <button mat-flat-button class="buttons__submit" color="primary" (click)="save()">Сохранить</button>
    </div>

  </form>
</section>
