<section class="vacation">
  <form [formGroup]="vacationForm" (ngSubmit)="onSubmit()" class="vacation-form">
    <button type="submit"  class="vacation-form__add">+</button>
    <select formControlName="type" id="vacation-type" class="vacation-form__type" [value]="'Отпуск'">
      <option>Отпуск</option>
      <option>Больничный</option>
    </select>
    <label for="vacation-start"> С </label>
    <input type="date" id="vacation-start" formControlName="start" class='vacation-form__start'>
    <label id="vacation-end"> По </label>
    <input type="date" id="vacation-end" formControlName="end" class="vacation-form__end">
  </form>


  <ul class="vacations">
    <li *ngFor="let vacation of vacations">
      <p class="vacations_vacation"> {{vacation.type}} с {{vacation.start}} по {{vacation.end}}</p>
      <button class="vacations__delete" title="vacation delete vacation" (click)="delete(vacation)"
        id="vacation-delete-button" name="delete-button">x</button>
    </li>
  </ul>
</section>
