.edit-modal {
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;

  .edit-form {
    display: inline-block;
    padding: 5px 5px 5px 70px;
    width: 200px;
    border: 1px solid lightblue;
    background: white;
    vertical-align: middle;
  }
}
